.App {
  text-align: center;
}

.home-page > a {
  text-decoration: none;
  color: black;
}

.home-page h2,
.home-page p {
  float: left;
}

.home-page h2 {
  padding-left: 1rem;
}

.header {
  position: sticky;
  top: 0;
  /* width: 100vw; */
  /* margin-bottom: 1.2rem; */
  background-color: #3dc4fc;
  padding: 1rem;
  box-shadow: 0 1px 5px 0.5px rgb(141, 141, 141);
}

.header a {
  display: block;
}

.beers a {
  text-decoration: none;
  color: black;
}

.beer-card {
  display: flex;
  padding: 1rem 0 0.5rem 1rem;
  border-bottom: 0.5px solid rgb(141, 141, 141);
  border-bottom-left-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
  box-shadow: 0 2px 5px 1px rgb(141, 141, 141);
}

.beer-card h2 {
  margin-bottom: 0.3rem;
}

.beer-card img {
  height: 10rem;
}

.beer-card > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 1.5rem;
  justify-content: space-between;
}

.tagline {
  color: rgb(141, 141, 141);
  font-size: 1.4rem;
}

.beer-card span {
  display: block;
}

.beer-detail-card {
  padding: 1rem 0.5rem 0 0.5rem;
}

.beer-detail-card img {
  height: 45vh;
}

.beer-detail-card > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 12vh;
}

.beer-detail-card > span {
  color: rgb(141, 141, 141);
}

.beer-detail-card > div > div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.beer-detail-card > div > div:first-child {
  align-items: flex-start;
  height: 100%;
}

.beer-detail-card > div > div:first-child h2 {
  margin: 0;
  font-size: 2rem;
}

.beer-detail-card > div > div:last-child {
  align-items: flex-end;
  height: 100%;
}

.beer-detail-card > div > div:last-child span:first-child {
  color: rgb(141, 141, 141);
  font-size: 1.6rem;
}

.beer-detail-card span,
.beer-detail-card p {
  float: left;
  text-align: left;
}

.beer-detail-card p {
  font-size: 1.3rem;
}
